{
  "processors": ["stylelint-processor-styled-components"],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-styled-components",
    "stylelint-config-concentric-order"
  ],
  "syntax": "scss",
  "ignoreFiles": "**/index.js",
  "rules": {
    "property-no-unknown": [
      true,
      { "ignoreProperties": ["scrollbar-color", "scrollbar-width"] }
    ],
    "block-opening-brace-space-after": null,
    "block-closing-brace-space-before": null,
    "indentation": [
      "tab",
      {
        indentInsideParens: "twice"
      }
    ],
    "block-no-empty": null,
    "declaration-block-no-redundant-longhand-properties": [
      true,
      {
        ignoreShorthands: ["flex"]
      }
    ]
  }
}
